<div class="fields">

	<%= f.input :title %>
	<%= f.input :body,:input_html=>{:class => "mceEditor validate[required]"} %>
	<%= f.input :position, :inner_html =>{:value => :position} %>
	<%= f.input :image_title %>
	<%= f.input :image, :as => :file if controller.action_name == "edit" %>
	<%= f.input :simpleable_id, :as => :hidden %>
	<%= f.input :simpleable_type, :as => :hidden %>
	<%= f.input :page_id, :collection => Page.all.map{|x| [ x.navlabel,x.id]} unless @page.parent = nil %>
	<%= link_to_remove_fields "remove", f %>
</div>