<h1 style="margin-bottom:15px">Cropping upload</h1>
<% content_for(:script) do %>

<script type="text/javascript" charset="utf-8">
$(function() {
  $('#cropbox').Jcrop({
	    onChange: update_crop,
	    onSelect: update_crop,
	    setSelect: [0, 0, 930, 282],
	    aspectRatio: 3.297872340425532
	  });
		$('.simple_form input[type="submit"]').css("margin-left","0");
});
function update_crop(coords) {
	var rx = 100/coords.w;
	var ry = 100/coords.h;
	var lw = $('#cropbox').width();
	var lh = $('#cropbox').height();


	var ratio = <%= @page.home_geometry[:width] %> / lw;

	//var crop_y = Math.round(coords.y * ratio ) ;

  $("#crop_x").val(Math.round(coords.x * ratio ));
  $("#crop_y").val(Math.round(coords.y * ratio ));
  $("#crop_w").val(Math.round(coords.w * ratio ));
  $("#crop_h").val(Math.round(coords.h * ratio ));
}
</script>
<% end %>

<%= image_tag @page.home_url, :id => "cropbox" %>


<%= simple_form_for( [:admin,@page],:html=>{:method => :put}) do |f|%>
	<% for attribute in [:crop_x ,:crop_y,:crop_w,:crop_h]%>
		<%= f.input attribute, :as => :hidden, :input_html =>{:id => attribute} %><br />
	<% end %>
	<%= f.input :cropped, :as => :hidden, :input_html =>{:value => true} %>
	<p>
    <%= f.submit "Crop" %>
  </p>	
<% end %>

<% content_for(:options) do %>
	<h1>Options</h1>
	<ul>
		<li>
		<p> 
			<%= link_to "Cancel Crop", admin_page_path(@page), :confirm => 'Are you sure you wish to cancel cropping the recently uploaded image? You will be redirected to the post page.' %>
		</p></li>
		<li>
			<p><%= link_to "Delete Page", admin_page_path(@page.id), :method =>"delete",:confirm => 'Are you sure you wish to delete recently uploaded set?' %>
			</p>
		</li>
	
	</ul>
<% end %>