<h1 class="title"><%= @map.category.parent.title %> | <%= @map.category.title %> <span class="actions posts">	<%= render :partial => "shared/sharedthis" %></span></h1>
<% title "Maps | #{@map.category.parent.title} |  #{@map.category.title} " %>
<div id="tabs">
<%= render :partial => @map %>
</div>
<% content_for(:options) do %>
	<%= content_tag(:h1, "Quick Links", :class=>"light") %>
	<%= render_navigation :level => 2,:items => @main_items %>
	<ul>
		<li><%= link_to "Overview",maps_path %></li>
	<% @maps.delete_if{|z| z.category.blank?}.each do |map| %>
		<li><%= link_to map.category.title,mapper_show_subfiltered_path(map.category.parent.page.name,map.category.parent.title.gsub(/ /,"_"),map.category.title.gsub("/","+").gsub(/ /,"_")) %></li>
	<% end %>
	</ul>
<% end %>

<% content_for(:script) do %>
<script>
$(function(){
	$("section#center").addClass("wide");
	$("section#center").css("width","760px");
	$("section#center").css("margin","0px");

	$("header#top").addClass("nohome");
	$("h1.title").css("margin-bottom","15px");
		$( "#tabs" ).tabs();
	$("section#main img.header").remove();
});
</script>
<% end %>