<div class="fields">
<%= image_tag upload_fields.image_url(:thumb) unless upload_fields.blank? %>
<%= f.input :title, :label => "Image Title" %>
<%= f.input :description %>
<%= f.input :image, :as => :file %>
<%= f.input :_destroy, :as => :hidden %>
<%= link_to_remove_fields "remove", f %>
</div>