<% title "Galleries#index" %>

<h1 class="title">Photos <span class="actions posts">	<%= render :partial => "shared/sharedthis" %></span></h1>

<div id="gallery_holder" class="ad-gallery">
	<div class="ad-image-wrapper">
  </div>
  <div class="ad-controls">
  </div>
  <div class="ad-nav">
    <div class="ad-thumbs">
      <ul class="ad-thumb-list">
			<%= render :partial => "galleries"  %>
			</ul>
		</div>
	</div>
</div>




<% content_for(:options) do %>
	<div class="large_link">
		<div id="map_link" class="icon"></div>
		<h3><%= link_to "<span>Iona Map</span>".html_safe, maps_path %></h3>
	</div>
	<%= content_tag(:h1, "Categories") %>
	<%= render_navigation :level => 2, :items => @main_items %>

<% end %>
<% content_for(:script) do %>
<script>
$(function(){
	$("section#center").addClass("wide");
	$("section#center").css("width","760px");
	$("section#center").css("margin","0px");

	$("header#top").addClass("nohome");
	$("h1.title").css("margin-bottom","15px");
	//	$("div#basic").slideViewerPro();
	$('.ad-gallery').adGallery();
});
</script>
<% end %>